<div class="row main-content">

    <!-- Master -->
    <div class="col-lg-8" class="master-list">

        <div class="bottles-list">
            <ul class="thumbnails">
                <li ng-repeat="bottle in bottles | filter:query">
                    <div class="thumbnail">

                        <img alt="300x200" style="height:100px; float:right;" ng-src="../images/{{ bottle.picture }}.jpg">

                        <div class="caption">
                            <a ng-click="detail(bottle)" class="detail-link">
                                <h3>{{ bottle.domain }} - {{ bottle.vintage }}</h3>
                            </a>
                            <p>{{ bottle.description }}</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

    </div>

    <!-- Detail -->
    <div class="col-lg-4 detail-form panel panel-default" ng-if="selection">

        <form role="form" class="panel-body">

            <div class="form-group">
                <label for="domainName">Domain name</label>
                <input type="text" class="form-control" id="domainName" placeholder="Domain name" ng-model="selection.domain">
            </div>

            <div class="form-group">
                <label for="bottleVintage">Vintage</label>
                <input type="text" class="form-control" id="bottleVintage" placeholder="Vintage" ng-model="selection.vintage">
            </div>

            <div class="form-group">
                <label for="bottleColor">Color</label>
                <select type="text" class="form-control" id="bottleColor" ng-model="selection.color"
                        ng-options="color for color in colors"></select>
            </div>

            <div class="form-group">
                <label for="bottleDescription">Description</label>
                <textarea class="form-control" id="bottleDescription" ng-model="selection.description"></textarea>
            </div>

            <div class="form-group">
                <label for="bottleDescription">Picture</label>
                <div class="input-group">
                    <input class="form-control" ng-model="currentPicture" ng-blur="selection.picture = currentPicture">
                    <div class="input-group-addon">.jpg</div>
                </div>
            </div>

            <img ng-src="../images/{{ selection.picture }}.jpg" alt="picture" width="200px">

            <div class="row">&nbsp;</div>

            <button class="btn btn-info" ng-click="edit(selection)">Edit</button>

        </form>

    </div>

</div>
