<div class="">

    <!-- Master -->
    <ul class="btls-list">
        <li ng-repeat="bottle in bottles | filter:query">
            <div class="btl-ctr">
                <span class="btl" ng-include="'images/bottle.svg'"
                      ng-class="{'bdx'   : bottle.color == 'RED',
                                 'white' : bottle.color == 'WHITE',
                                 'rose'  : bottle.color == 'ROSE'}"></span>

                <img alt="Vinio" ng-src="../images/{{ bottle.picture }}.jpg">
            </div>

            <div class="dtl">
                <a ng-click="detail(bottle)">
                    <h3>{{ bottle.domain }} - {{ bottle.vintage }}</h3>
                </a>
                <p>{{ bottle.description }}</p>
            </div>

            <span class='price'>{{ bottle.price | currency }}</span>
        </li>
    </ul>

    <!-- Detail -->
    <div class="" ng-if="selection">

        <form role="form" class="">

            <div class="">
                <label for="domainName">Domain name</label>
                <input type="text" class="" id="domainName" placeholder="Domain name" ng-model="selection.domain">
            </div>

            <div class="">
                <label for="bottleVintage">Vintage</label>
                <input type="number" class="" id="bottleVintage" placeholder="Vintage" ng-model="selection.vintage">
            </div>

            <div class="">
                <label for="bottleColor">Color</label>
                <select type="text" class="" id="bottleColor" ng-model="selection.color"
                        ng-options="color for color in colors"></select>
            </div>

            <div class="">
                <label for="bottleDescription">Description</label>
                <textarea class="" id="bottleDescription" ng-model="selection.description"></textarea>
            </div>

            <div class="">
                <label for="bottlePrice">Price</label>
                <div class="">
                    <input type="number" class="" id="bottlePrice" placeholder="Price" ng-model="selection.price">
                    <div class="">{{ '' | currency }}</div>
                </div>
            </div>

            <div class="">
                <label for="bottleDescription">Picture</label>
                <div class="input-group">
                    <input class="" ng-model="currentPicture" ng-blur="selection.picture = currentPicture">
                    <div class="">.jpg</div>
                </div>
            </div>

            <img ng-src="../images/{{ selection.picture }}.jpg" alt="picture" width="200px">

            <div class="">&nbsp;</div>

            <button class="" ng-click="edit(selection)">Edit</button>

        </form>

    </div>

</div>
